/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

.nav {
  background-color: lime;
  display: flex;
  justify-content: space-between;

}

.hamburger {
  width: 25;
  height: auto;
  padding: 1%;
}

.page-name {
  display: flex;
  align-items: center;
  font-size: xxx-large;
}

.sign-up {
  width: 50;
  height: auto;
  padding: 1%;
}

.banner {
  display: flex;
  justify-content: center;
  flex-direction: column;
  /* background-color: red; */
  align-items: center;
}

.banner-text {
  color: aliceblue;
}

.banner-pick {
  color: chartreuse;
}

.select-genre {
  width: 40%;

}

.featured {
  display: flex;
  background-color: cornflowerblue;
  padding: 2%;
}

.game-container {
  display: flex;
  justify-content: space-around;
}
.game-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* background-color: purple; */
  margin: 5%;
}
.game-title {
  color: tomato;
}

.game-image {
  width: 50%;
  height: auto;
}

.game-description {
  color: cornsilk;
  padding: 5%;
}

.game-rating {
  width: 37%;
}


@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Bungee&family=Koulen&family=Oswald:wght@200;500;600;700&family=Rubik:wght@500;600;700;800&family=Source+Sans+Pro:ital,wght@0,300;0,600;1,300;1,600&family=Ubuntu:wght@500&display=swap');

/* .card-1 {
  background-color: black;
} */
/* Transparency styling for each card of the Homepage */
.css-10nhwq6-MuiImageListItem-root {
  background: rgba(255, 255, 255, 0.2);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(5px);
-webkit-backdrop-filter: blur(5px);
border: 1px solid rgba(16, 246, 4, 0.97);
}

.card-2 {
  /* color: tomato; */
}

.card-3 {
  /* background-color: black; */
}
/* Transparency styling for each card of the Result component */
.css-1fvmzl6-MuiImageListItem-root {
  background: rgba(255, 255, 255, 0.2);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(5px);
-webkit-backdrop-filter: blur(5px);
border: 1px solid rgba(16, 246, 4, 0.97);
}

/* --------------------- */

.body-title {
  text-align: center;
  margin: 24px 0 12px 0;
  font-size: 20px;
  font-family: 'Press Start 2P', cursive;
}


/* --------------------- */

/* .about {
  display: flex;
  background-color: cornflowerblue;
  padding: 5%;
  font-size: xxx-large;
} */

.about-text {
  display: flex;
  padding: 5%;
  font-size: larger;
}
/* ---------- PROFILE LIKES IMAGES ----------- */

.css-186gwnw-MuiImageListItemBar-titleWrap .css-hk6gwf-MuiImageListItemBar-subtitle {
  white-space: normal;
  color:antiquewhite;
}

.css-8m3eu1-MuiImageListItemBar-root {
  color:antiquewhite;
}

#root {
  background-image: url("./files/vector-jan-2021-45.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

/* Transparency styling for each card of the liked games on the profile page */
.css-1t7wq94-MuiImageListItem-root {
 /* From https://css.glass */
background: rgba(255, 255, 255, 0.2);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(5px);
-webkit-backdrop-filter: blur(5px);
border: 1px solid rgba(16, 246, 4, 0.97);
}
